html{
    color: black;
}
main{
    width: 50%;
    margin: auto;
    background-color: rgb(77, 77, 76);
    padding-top: 5px;
    border: 5px solid rgb(77, 77, 76);
}
header{
    background-color: rgb(250, 147, 30);
    display: flex;
    height: 80px;
    margin: 5px;
    margin-top: 0;
}
.header{
    width: 100%;
    margin: 10px 20px;
}
.header-title{
    height: 60%;
}
.header-nav{
    height: 40%;
    background-color: rgb(255, 255, 0);
    margin-top: 3%;
}

.content{
    display: flex;
    height: 440px;
}
.content-nav{
    background-color: rgb(255, 255, 0);
    width: 20%;
    text-align: center;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.articles{
    width: 80%;
}

.article1{
    margin: 5px;
    background-color: rgb(0, 255, 255);
    display: flex;
}
.article1 .article-left{
    width: 75%;
    margin: 10px;
}
.article1 article{
    height: 30px;
}
.article1 section{
    background-color: rgb(218, 224, 31);
    margin: 10px 0;
}
.article1 .section1{
    margin-top: 0;
    height: 70px;
}
.article1 .section2{
    height: 60px;
    margin-bottom: 0;
}
.article1 .article-right{
    width: 25%;
}
.article1 aside{
    background-color: rgb(139, 199, 62);
    height: 90%;
    margin: 10px;
}

.article2{
    background-color: rgb(0, 255, 255);
    margin: 5px;
    display: flex;
    margin-bottom: 0;
}
.article2 .article-content{
    margin: 10px;
    width: 100%;
}
.article2 article{
    height: 30px;
}
.article2 section{
    background-color: rgb(218, 224, 31);
    margin: 10px 0;
}
.article2 .section1{
    height: 50px;
    margin-top: 0;
}
.article2 .section2{
    height: 100px;
    display: flex;
}
.article2 .section2 .content{
    width: 100%;
    margin: 10px;
    height: 80%;
}
.article2 .section2 .left-content{
    width: 70%;
}
.article2 .section2 aside{
    width: 30%;
    background-color: rgb(139, 199, 62);
}

footer{
    height: 75px;
    background-color: rgb(250, 176, 57);
    display: flex;
    margin: 5px;
}
.footer{
    width: 100%;
    margin: 10px 20px;
}
.footer-title{
    height: 70%;
}
.footer-nav{
    height: 40%;
    background-color: rgb(255, 255, 0);
    margin-top: 3%
}